@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Outfit&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
    --primary-color: #B8A9A9;
    --secondary-color: #FFF4E9;
    --tertiary-color: #72F7DE;
    --accent1-color: #594236;
    --accent2-color: #FFF235;

    --heading-font: 'Grape Nuts', cursive;
    --paragraph-font: 'Outfit', sans-serif;

    --nav-background-color: #FFF4E9;
    --nav-link-color: #594236;
    --nav-hover-link-color: #B8A9A9;
    --nav-hover-background-color: #72F7;
}

body {
    font-family: var(--paragraph-font);
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

p {
    padding: 0;
    color: #594236;
}

header {
    margin: 0 auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    gap: 20px
}

header img {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
    width: 150px;
    height: auto;
}

header h1 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 3rem;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    width: 1000px;
    padding-left: 20px;
	margin: 0 auto;
	font-family: outfit;
    color: #594236;
}
    
main h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    background-color: rgba(184, 169, 169, .7);
    width: 30%;
}

main h1 .box {
    position:absolute;
    height: 15%;
    max-width: 90%;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #B8A9A9;
    color: #594236;
    opacity: 0.7;
    top: 5px;
	right: 1px;
    font-size: .7rem;

}

#hero {
    border: 2px solid #594236;
	margin: 10px auto;
	position: relative; 
}

#hero img {
    display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

article {
    position: absolute;
    top: 60px;
    width: 95%;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgba(184, 169, 169, .6);
    padding: 1rem;
}

#hero article img {
    float: right;
    width: 90px;
}

.article p {
    float: left;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    text-decoration: underline;
    text-size-adjust: auto;
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
}

iframe {
    margin-top: 1rem;
}
h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    text-decoration: underline;
    text-size-adjust: auto;
    font-weight: 700;
}

.history {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    justify-content: space-around;
}

section, .grid {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--primary-color);
}

.adventure div {
    display: flex;
}

.adventure div img {
    width: 90%;
}

.box {
    position:absolute;
    height: 15%;
    max-width: 90%;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #B8A9A9;
    color: #594236;
    opacity: 0.7;
}

button {
    display: flex;
    background-color: #594236;
    color: #FFF4E9;
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    width: 200px;
}

button :hover {
    background-color: #B8A9A9;
    color:  #B8A9A9;
}

footer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.sociallinks {
    display: flex;
    list-style: none;
}

.sociallinks img {
    width: 18%;
    height: auto;
}